/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

coverage
build
node_modules
stats.json

# Cruft
.DS_Store
npm-debug.log
.idea

# Logs
yarn-error.log
